/*The Main Scss File*/
/*The Scss Configs File*/
/*The Main Scss File*/

.navbar {
  background: #fff !important;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 1199px) {
  .navbar {
    background: #000 !important;
  }
  .nav-link {
    color: #eee !important;
  }
}

.scrolled {
  background: #000 !important;
}

@media (max-width: 420px) {
  .navbar-brand img {
    width: 200px !important;
    height: 52px !important;
  }
}

.navbar .nav-link {
  color: #eee;
  font-weight: bold;
  margin: 0 8px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.navbar .nav-link:after {
  position: absolute;
  top: 80%;
  left: 0;
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: #E62B1E;
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar .nav-link:hover {
  color: #E62B1E !important;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar .nav-link:hover:after {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #E62B1E !important;
}

/*start footer section*/
footer {
  padding: 50px 0 20px;
  background: #000;
}

@media (max-width: 576px) {
  footer .row > div {
    margin-bottom: 15px;
    text-align: center;
  }
}

footer h4 {
  color: #ccc;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  margin: 0 20px;
  display: inline;
  letter-spacing: 1px;
}

@media (max-width: 420px) {
  footer li {
    margin: 0 5px;
    letter-spacing: .5px;
    font-size: 14px;
  }
  footer i {
    margin-bottom: 0 !important;
  }
}

footer i {
  font-size: 20px;
  margin-bottom: 15px;
}

footer a, footer p {
  color: #676767;
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}

footer img {
  height: 80px !important;
}

footer hr {
  background-color: #aaa;
  margin-top: 1.8rem;
}

.rights {
  color: #aaa;
  margin-top: -5px;
  font-size: 13px;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}


.quote {
  text-align: center;
  font-family: Domaine Display Narrow;
  font-style: normal;
  font-size: 50px;
  color: #000000;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 600px) {
  .quote {
    font-size: 20px;
  }
}
.dq {
  white-space: nowrap;
  text-align: center;
  font-family: Agency FB;
  font-style: normal;
  font-weight: bold;
  font-size: 129px;
  color: #989898;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  .dq {
    font-size: 51.6px;
  }
}
.swords {
  color: #FF2B06;
}

#HenryFord {
  top: 577px;
  white-space: nowrap;
  text-align: right;
  font-family: Domaine Display Narrow;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #e1e1e1;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  #HenryFord {
    font-size: 18px;
  }
}
#TEDx_icon {
  position: absolute;
  width: 100px;
  height: 107px;
  left: 313px;
  top: 716px;
  overflow: visible;
}

.Ellipse_17 {
  position: absolute;
  overflow: visible;
  width: 132.502px;
  height: 132.502px;
  left: 2px;
  top: 11px;
}

.Ellipse_11 {
  position: absolute;
  overflow: visible;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
}

#Ellipse_11 {
  fill: #FF2B06;
}

#Group_44 {
  position: absolute;
  width: 74.316px;
  height: 21.67px;
  left: 15.169px;
  top: 38.542px;
  overflow: visible;
}

.Path_33_dk {
  overflow: visible;
  position: absolute;
  width: 18.779px;
  height: 21.628px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: #FFFFFF;
}

.Path_34_dl {
  overflow: visible;
  position: absolute;
  width: 18.233px;
  height: 21.628px;
  left: 19.814px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: #FFFFFF;
}

.Path_35_dm {
  overflow: visible;
  position: absolute;
  width: 20.69px;
  height: 21.628px;
  left: 39.167px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: #FFFFFF;
}

#Group_5_dn {
  position: absolute;
  width: 13.781px;
  height: 13.335px;
  left: 60.535px;
  top: 0px;
  overflow: visible;
}

#Group_4_do {
  position: absolute;
  width: 13.781px;
  height: 13.335px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.Path_36_dp {
  overflow: visible;
  position: absolute;
  width: 13.781px;
  height: 13.335px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_36_dp {
  fill: #FFFFFF;
}

.TEDx_icon_position {
  transform: translate(-230px, -850px);
  -ms-transform: translate(-230px, -850px);
  /* IE 9 */
  -webkit-transform: translate(-230px, -850px);
  /* Safari and Chrome */
  -o-transform: translate(-230px, -850px);
  /* Opera */
  -moz-transform: translate(-230px, -850px);
  /* Firefox */
}

#Path_35_dm {
  fill: white;
}

#Path_34_dl {
  fill: white;
}

#Path_33_dk {
  fill: white;
}
#Ellipse_17 {
  opacity: 0.584;
  filter: blur(6.084px);
  fill: rgba(255,43,6,1);
}
/* Please Edit Live Sass Setting Save Location to /sass/base/ */
/*
    "liveSassCompile.settings.formats": [ {
        "format": "expanded",
            "extensionName": ".css",
            "savePath": "/sass/base/",
    }

    ],
*/
/*# sourceMappingURL=main.css.map */