/*The Main Scss File*/
/*The Scss Configs File*/
/*The Main Scss File*/

.navbar {
  background: #fff !important;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 1199px) {
  .navbar {
    background: #000 !important;
  }
  .nav-link {
    color: #eee !important;
  }
}

.scrolled {
  background: #000 !important;
}

@media (max-width: 420px) {
  .navbar-brand img {
    width: 200px !important;
    height: 52px !important;
  }
}

.navbar .nav-link {
  color: #eee;
  font-weight: bold;
  margin: 0 8px;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.scrolled .nav-link{
  color: #eee !important;
}

.navbar .nav-link:after {
  position: absolute;
  top: 80%;
  left: 0;
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: #E62B1E;
  content: "";
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar .nav-link:hover {
  color: #E62B1E !important;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.navbar .nav-link:hover:after {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #E62B1E !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/*start footer section*/
footer {
  padding: 50px 0 20px;
  background: #000;
}

@media (max-width: 576px) {
  footer .row > div {
    margin-bottom: 15px;
    text-align: center;
  }
}

footer h4 {
  color: #ccc;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li {
  margin: 0 20px;
  display: inline;
  letter-spacing: 1px;
}

@media (max-width: 420px) {
  footer li {
    margin: 0 5px;
    letter-spacing: .5px;
    font-size: 14px;
  }
  footer i {
    margin-bottom: 0 !important;
  }
}

footer i {
  font-size: 20px;
  margin-bottom: 15px;
}

footer a, footer p {
  color: #676767;
}

footer a:hover {
  color: #ccc;
  text-decoration: none;
}

footer img {
  height: 80px !important;
}

footer hr {
  background-color: #aaa;
  margin-top: 1.8rem;
}

.rights {
  color: #aaa;
  margin-top: -5px;
  font-size: 13px;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}

h1 {
  color: #E62B1E;
}


.quote {
  text-align: center;
  font-family: Domaine Display Narrow;
  font-style: normal;
  font-size: 50px;
  color: #000000;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 600px) {
  .quote {
    font-size: 20px;
  }
}
.dq {
  white-space: nowrap;
  text-align: center;
  font-family: Agency FB;
  font-style: normal;
  font-weight: bold;
  font-size: 129px;
  color: #989898;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  .dq {
    font-size: 51.6px;
  }
}
.swords {
  color: #FF2B06;
}

#HenryFord {
  top: 577px;
  white-space: nowrap;
  text-align: right;
  font-family: Domaine Display Narrow;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  color: #e1e1e1;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  #HenryFord {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .TEDX_icon {
    width: 120px;
    height: 120px;
  }
}
#About_TEDxYouthMaadiSTEM {
  position: relative;
  left: -60px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #About_TEDxYouthMaadiSTEM {
    left: 18px;
    font-size: 17px;

  }
}
.dec_1 {
  position: relative;
  right: -950px;
}

.dec_1 {
  fill: #FF2B06;
}

@media screen and (max-width: 600px) {
  .dec_1 {
    position: relative;
    right: -290px;
    font-size: 17px;

  }
}

#TEDx {
  opacity: 0.27;
  left: 470px;
  top: -120px;
  position: relative;
  overflow: visible;
  width: 771px;
  height: 183px;
  line-height: 24px;
  margin-top: -2px;
  text-align: left;
  font-family: SF Compact;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0,0,0,1);
  letter-spacing: 0.3px;
}
@media screen and (max-width: 600px) {
  #TEDx{
    left: 20px;
    top: -120px;
    width: 300px;
    height: 300px;


    

  }
}
/* Please Edit Live Sass Setting Save Location to /sass/base/ */
/*
    "liveSassCompile.settings.formats": [ {
        "format": "expanded",
            "extensionName": ".css",
            "savePath": "/sass/base/",
    }

    ],
*/
/*# sourceMappingURL=main.css.map */