
.quote {
    text-align: center;
    font-family: Domaine Display Narrow;
    font-style: normal;
    font-size: 50px;
    color: $black;
    letter-spacing: 0.2px;
  }
  @media screen and (max-width: 600px) {
    .quote {
      font-size: 20px;
    }
  }
  
.dq {
    white-space: nowrap;
    text-align: center;
    font-family: Agency FB;
    font-style: normal;
    font-weight: bold;
    font-size: 129px;
    color: $grey;
    letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
    .dq {
      font-size: 51.6px;
    }
  }


.swords{

    color:$red
}

#HenryFord {
    top: 577px;
    white-space: nowrap;
    text-align: right;
    font-family: Domaine Display Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(225,225,225,1);
    letter-spacing: 0.3px;
  }

  @media screen and (max-width: 600px) {
    #HenryFord {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 600px) {
    .TEDX_icon{
      width: 120px;
      height: 120px;
  
    }
  }