//quote part


.quote {
    text-align: center;
    font-family: Domaine Display Narrow;
    font-style: normal;
    font-size: 50px;
    color: $black;
    letter-spacing: 0.2px;
    margin-top: -50px;
  }
  @media screen and (max-width: 600px) {
    .quote {
      font-size: 20px;
      position: absolute;
      top: 168px;
      left: 38px;
      width: 350px;
  }
  }

  @media screen and (max-width: 600px){
    .qq {
      position: absolute;
      left: -34px;
      top: 50px
    }
  }
  
.dq {
    white-space: nowrap;
    text-align: center;
    font-family: Agency FB;
    font-style: normal;
    font-weight: bold;
    font-size: 129px;
    color: $grey;
    letter-spacing: 0.3px;
    margin-top: 70px;
}

@media screen and (max-width: 600px) {
  .dq {
    font-size: 51.6px;
    position: absolute;
    left: 207px;
}

  }


.swords{

    color:$red
}
#HenryFord {
    top: 577px;
    white-space: nowrap;
    text-align: right;
    font-family: Domaine Display Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(225,225,225,1);
    letter-spacing: 0.3px;
  }
  @media screen and (max-width: 600px) {
    #HenryFord {
      font-size: 18px;
      position: absolute;
      top: 263px;
      left: 231px;
  }
  
  }
//TEDX_icon 
  @media screen and (max-width: 600px) {
    .TEDX_icon {
      top: 326px;
      width: 100px;
      height: 120px;
      position: absolute;
  }
  
  }
//about TEDx maadi header
#About_TEDxYouthMaadiSTEM {
  position: absolute;
  left: 400px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
}  

@media screen and (max-width: 600px) {
  #About_TEDxYouthMaadiSTEM {
    left: 16px;
    top: 447px;
    font-size: 17px;
    position: absolute;
}
  }
//rectangle
#rectangle1 {
  position: relative;
  left: 920px;
}

@media screen and (max-width: 600px) {
  #rectangle1 {
    position: absolute;
    top: 481px;
    /* width: 60px; */
    left: 233px;
}
}

@media screen and (max-width: 600px) {
  .dec_1 {
    position: relative;
    right: -290px;
    font-size: 17px;

  }
}

//TEDX paragraph
#TEDx {
  opacity: 0.27;
  left: 382px;
  top: 713px;
  position: absolute;
  overflow: visible;
  width: 771px;
  height: 183px;
  line-height: 24px;
  margin-top: -2px;
  text-align: left;
  font-family: SF Compact;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: black;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 600px) {
  #TEDx {
    left: 39px;
    top: 521px;
    width: 300px;
    height: 300px;
}
}
#About_us {
  opacity: 0.056;
  top: 884px;
  left: 920px;
  position: absolute;
  line-height: 104px;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  color: #000000;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  #About_us {
    top: 312px;
    left: 140px;
    font-size: 35px;
    width: 200px;
    position: absolute;
}
}

.MEET_THE_TEAM{margin-top: 120px;}

@media screen and (max-width: 600px) {
  .MEET_THE_TEAM{margin-top: 800px;}
}

#teamimg {
  width: 160px;
  height: 160px;
}
@media screen and (max-width: 600px) {
  #teamimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}

.MEET_THE_TEAM span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  display: block;
  margin-top: -25px;
}

figure {
  margin: 16px 40px !important; 
}
.img-fluid {
max-width: 100%;
height: auto;
}
#Our_team {
  opacity: 0.056;
  white-space: nowrap;
  line-height: 104px;
  margin-top: -10.5px;
  text-align: left;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 70px;
  left: 25px;
  color: $black;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #Our_team {
    font-size: 35px;
  }
}
#rectangle2 {
  overflow: visible;
  position: absolute;
  width: 89px;
  height: 6px;
  right: 10px;
  top: 1245px;
}
@media screen and (max-width: 600px) {
  #rectangle2 {
    position: absolute;
    left: 231px;
    top: 1251px;
    width: 100px;
}
}

#CHAIRWOMEN {
  right: 10px;
  top: 1260px;
  overflow: visible;
  white-space: nowrap;
  text-align: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  position: absolute;
}

.high-board .member-info{
  background-color: #fff;
  position: relative;
  top: -55px;
  text-align: center;
  padding: 10px 0;
  width: 74%;
  left: 13%;
  border: 1px solid #f5f5f5;
  transition: 0.7s ease-in-out;
}

.high-board img{
  cursor: pointer;
  &:hover ~ .member-info{
    transform: translateY(-20px);
    box-shadow: 0px 0px 30px 10px rgba(225,225,225,0.5);
  }
}

@media screen and (max-width: 600px) {
  .high-board img{
    width: 80%;
  }
}

.member-info .name{
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
}

.member-info .role{
  text-transform: capitalize;
    font-weight: bold;
    opacity: 0.5;
    font-size: 0.9rem;
}

.member-info span{
  height: 5px;
    width: 28%;
    background: $red;
    display: block;
    margin: auto;
    position: relative;
    top: -6px;
}