.articles-nav{
  h5{
    font-weight: 700;
  }
}

.nav-pills .nav-link {
  border-radius: 10px !important;
  color: $grey;
  text-transform: uppercase;
}

a#pills-home-tab{
  margin-right: $nav-margin;
  font-weight: 600;
}

a#pills-profile-tab{
  margin-right: $nav-margin;
  font-weight: 600;
}

a#pills-contact-tab{
  margin-right: $nav-margin;
  font-weight: 600;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  font-weight: 700 !important;
  background-color: $red !important;
  box-shadow: 0px 3px 10px $red;
  margin-right: $nav-margin !important;

}