body{
    background-color: red;
}

.form{
    box-shadow: 0px 0px 20px $light-grey;
    width: 95%;
    border-radius: 30px;
    margin: 30px auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    label{
        font-weight: 500;
    }
}

.form-title{
    color: $light-grey;
    font-size: 2rem;
    font-weight: 700;
}

input[type="text"]{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: 200;
    width: 90%;
    padding: 4px 20px;
    border-color: $light-grey;
}

input[type="submit"]{
    background-color: $red;
    width: 90%;
    border-radius: 10px;
}

input[placeholder]{
    color: $light-grey;
}

.fa-envelope, .fa-user, .fa-align-left{
    position: absolute;
    margin-top: 10px;
    color: $light-grey;
}

input:focus{
    color: $red;  
    font-weight: 700;
    outline: none;
    border-color: $red;
}


.fa-envelope, .fa-user, .fa-align-left{
    color: $light-grey !important;
}

.contact-pic{
    margin-top: 30px;
    width: 85%;
}